:root {
  --primary-color: rgb(100, 122, 155);
  --secondary-color: rgb(55, 65, 81);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  padding: 3.6rem;
  background: linear-gradient(to left bottom, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  max-width: 60rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

header .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

header h1,
header i {
  font-size: 4rem;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

label {
  font-size: 1.6rem;
}

input {
  width: 100%;
  padding: 1.2rem 1.6rem 1.2rem 4rem;
  font-size: 1.2rem;
  border: 2px solid var(--secondary-color);
  border-radius: 2.4rem;
  background-color: #000;
  color: var(--primary-color);
  outline-offset: .2rem;
}

input::placeholder {
  color: var(--secondary-color);
}

input:focus {
  outline: 2px solid var(--secondary-color);
}

i.ph-google-logo {
  position: absolute;
  top: 4rem;
  left: 0.8rem;
  font-size: 3rem;
  color: var(--secondary-color);
}

.shortcuts {
  width: 100%;
  max-width: 60rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3.2rem;
  text-align: center;
}

.shortcuts i {
  font-size: 4rem;
}

@media (min-width: 768px) {
  .shortcuts {
    display: flex;
    justify-content: space-around;
  }
}
