:root {
  --primary-color: rgb(100, 122, 155);
  --secondary-color: rgb(55, 65, 81);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  padding: 2rem 3.6rem;
  background: linear-gradient(to left bottom, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
  color: var(--primary-color);
}

h1 {
  font-size: 4.4rem;
}

h1 span {
  font-size: 0.8em;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 100%;
  max-width: 60rem;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

header .title {
  display: flex;
  align-items: center;
  justify-content: center;
}

header i {
  font-size: 4rem;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

label {
  font-size: 1.6rem;
}

input {
  width: 100%;
  padding: 1.2rem 1.6rem 1.2rem 4rem;
  font-size: 1.2rem;
  border: 2px solid var(--secondary-color);
  border-radius: 2.4rem;
  background-color: #000;
  color: var(--primary-color);
}

input::placeholder {
  color: var(--secondary-color);
}

input:focus {
  outline-offset: .2rem;
  outline: 2px solid var(--secondary-color);
}

i.ph-google-logo {
  position: absolute;
  top: 4rem;
  left: 0.8rem;
  font-size: 3rem;
  color: var(--secondary-color);
}

.shortcuts {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2.4rem;
  text-align: center;
}

.shortcuts a {
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  justify-self: center;
  border-radius: 50%;
  transition: background-color 200ms;
}

.shortcuts a i {
  font-size: 4rem;
}

.shortcuts a:hover,
.shortcuts a:focus {
  outline: none;
  background-color: rgba(100, 122, 155, 0.2);
}

.news-content {
  height: 40rem;
  padding: 1rem;
  overflow-y: scroll;
  border: 1px solid rgb(17, 24, 39);
  border-radius: 0.4rem;
  background-color: rgb(0, 0, 0);
}

.news-content:has(.ph) {
  display: flex;
  align-items: center;
}

.news-content i {
  display: block;
  width: 3.2rem;
  margin: 0 auto;
  font-size: 3.2rem;
  color: var(--secondary-color);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.news-content--item {
  padding-bottom: 1.6rem;
  margin-bottom: 1.2rem;
  border-bottom: 1px solid rgba(100, 122, 155, 0.2);
}

.news-content--item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.news-content--item .item-title,
.news-content--item .item-title a {
  font-size: 1.2rem;
  font-weight: 700;
  transition: border-bottom 400ms;
}

.news-content--item .item-title a:hover,
.news-content--item .item-title a:focus {
  outline: none;
  border-bottom: 1px solid rgba(100, 122, 155, 0.5);
}

.news-content--item .item-summary {
  margin-top: 0.8rem;
  font-size: 1rem;
  color: var(--primary-color);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (min-width: 768px) {

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    background: rgba(55, 65, 81, 0.5);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 122, 155, 0.4);
  }

  .shortcuts {
    display: flex;
    justify-content: space-around;
  }

  .news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
}
